* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
   
}

a:link {
  text-decoration: none;
  
}

a:visited {
  text-decoration: none;
}

a:hover {
  color: hotpink;
}

h1{
    background-color: olive;
    color: oldlace;
    padding: 32px 16px;
    font-size: 80px;
}

ul{
    margin: 32px; 
}

li {
    margin-bottom:8px ;
}

footer{
    background-color: oldlace;
    padding: 8px;
    margin-top: auto;
    color: rgb(46, 46, 46);
}




.home {
    color: oldlace;
    display: block;
    padding: 8px;
    background-color: rgb(46, 46, 46);
}